@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@plugin "@iconify/tailwind4";

html {
    font-size: 16px;
}

/* <weight>: Use a value from 200 to 800 */
/* <uniquifier>: Use a unique and descriptive class name */

.plus-jakarta-sans-main-font {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200 - 800;
    font-style: normal;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-secondary-100);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-secondary-200);
    border-radius: 10px;
    transition: background 0.3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

@theme {
    --font-sans: "Plus Jakarta Sans", "Instrument Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-primary-100: #1a1620;
    --color-primary-200: #26202e;
    --color-primary-300: #40364d;
    --color-primary-400: #8b5fc4;
    --color-secondary-100: #888888;
    --color-secondary-200: #eeeeee;

    --text-100: 2rem;
    --text-200: 1.5rem;
    --text-300: 1.25rem;
    --text-400: 1rem;
    --text-500: 0.875rem;
}

@layer components {
    .container {
        @apply py-5 px-5;
    }
}
